<div *ngIf="artist" id="artist-comp">
    <header class="artist-header">
        <!-- <div *ngIf="artist.images.length > 0">
            <img class="img-thumb rounded-circle" [src]="artist.images[0].url">
        </div>
        <h1>{{ artist.name }}</h1>
        <p *ngIf="artist.genres && artist.genres.length > 0">
            Genres:
            <span *ngFor="let genre of artist.genres">{{ genre | titlecase }}, </span>
        </p> -->

        <music-card [image]="artist.images[0].url" [isBordered]="false">
            <h1>{{ artist.name }}</h1>
            <p *ngIf="artist.genres && artist.genres.length > 0">
                Genres:
                <span *ngFor="let genre of artist.genres">{{ genre | titlecase }}, </span>
            </p>
        </music-card>
    </header>

    <!-- <div class="row">
        <div *ngIf="albums" class="albums d-flex flex-wrap mt-2 w-100">
            <div *ngFor="let album of albums" class="ml-4 mr-5">
                <music-card [image]="album.images[0].url">
                    <a class="album-link" [routerLink]="['/album/',album.id]">
                        <strong class="item-name">{{ album.name }}</strong>
                    </a>
                </music-card>
            </div>
        </div>
    </div> -->
    <artist-album [artistId]="artistId"></artist-album>
</div>