.header {
    display: flex;
    position: fixed;
    background-color: #f8f9fa;
    width: 100%;
    top: 0px;
}

.navbar {
    height: 56px;
    padding: 0 16px 0 72px;
    padding-left: 8px;
    background-color: #673AB7;
    background: #0033FF;
    background-color: #f8f9fa;
}